* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color:#ffffff;
    --hoofd-color: #4D80E2;
    --secondary-color: aliceblue;
    --grey-color: #676968;

    /* thema's colors */
    --openbare-orde:#ACECA1;
    --Financien:#867275;
    --Verkeer:#B3679B;
}

body {
    font-family: 'Noto Sans SC', Helvetica, arial, sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(var(--background-color) 25em, var(--secondary-color) 20em);
    background-size: 100% 40em;    
} 

.lijst{
    background-image: none;
}
  
.navigation-bar {
    height: 70px;
    width: 100%;
    text-align:center;
    background-color: var(--secondary-color);
}

.navigation-bar img{
    float: left;
    width: 250px;
    padding: 20px 10px 10px 66px;
}

.navigation-bar ul {
    padding: 0px 41px 0px 0px;
    float: right;
}

.navigation-bar li {
    display: inline;
}

.navigation-bar li a {
    color: black;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
}

header article {
    padding: 20px 70px;
    background-color: var(--secondary-color);
    height: 100px;
}

main section h2 {
    float: left;
    cursor: pointer;
}

main section {
    position: relative;
    right: 0;
    padding: 20px 70px 0px 70px;
    width: 100%;
    text-align: center;
    margin: 15px 0;

    display: flex;
    justify-content: space-between;
    align-items: baseline; 
}

main section div{
    margin: 0;
    padding: 0;
    width: 23em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main section div select {
    padding: 0px 20px 0px 0px;
    float: right;
}

main section div select {
    border-radius: 5px;
    border: 2px solid var(--hoofd-color);
    padding: 2px;
}

main section div .list-option img {
    width: 25px;
    float: right;
    filter: invert(48%) sepia(90%) saturate(2077%) hue-rotate(201deg) brightness(92%) contrast(93%);

}

main section div button{
    width: 27px;
    height: 27px;
    background-color: var(--hoofd-color);
    border: none;
    border-radius: 6px;
    padding-top: 5px;
    cursor: pointer;
}

main section div button img {
    width: 17px;
    float: center;
}

main section input{
    position: relative;
    float: right;
    right: -33px;
    border: var(--hoofd-color) solid 2px;
    border-radius: 6px 0 0 6px;
    order: -1;
    height: 27px;
    width: 13em;
    transition: .8s;
    opacity: 0;
    z-index: -1;

    box-shadow: inset var(--grey-color) 0 0px 3px;
}

main section input.opensearch{
    opacity: 1;
    z-index: -1;
}

main section input[type="text"]{
    color: var(--grey-color);
    text-indent: 5px;
}

main section div button img {
    filter: invert(100%) sepia(0%) saturate(1833%) hue-rotate(316deg) brightness(110%) contrast(100%);
    margin: 0;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
    
    table td {
        padding: 20px;
        font-size: 14px;
        width: 100px;
    }

    table, th, td {
        text-align: center;
    }

    table td img {
        width: 150px;
    }
    
    table tr:nth-child(even) {
        background-color: #f0f8ff;
    }
    
    table th {
        padding-top: 12px;
        padding-bottom: 12px;
        color: var(--hoofd-color);
    }

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: var(--hoofd-color);
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #f0f8ff;
    border-radius: 5px;
  }

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f8ff;
    color: black;
    text-align: center;
    padding: 20px;
 }

.filterOption {
    padding: 0 4em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
    opacity: 0;
    height: 0;
    margin-top: 0px;
    height: clamp(2em, 4em, 5em);
    transition: .7s height, 0.7s opacity;
}

.filterOption.openfilter{
    opacity: 1;
    height: 100%;
 }


.filterknop::after{
    content: ">";
    display: inline-block;
    transform: rotate(90deg);
}

.filterknop.closemenu::after{
    transform: rotate(-90deg);
}

.filterOption a {
    text-decoration: none;
    background-color: #f0f8ff;
    color: black;
    opacity: 0.7;
    padding: 15px;
    border-radius: 5px;
    margin: 15px 10px 0px 0px;
 }




/* @media only screen and (max-width: 600px) {

    .navigation {
        background-color: var(--secondary-color);
        height: 150px;
    }

    .navigation .logo {
        width: 250px;
        padding: 10px 0px 0px 10px;
    }

    .navigation ul li a {
        text-decoration: none;
        color: black;
        font-size: 15px;
        padding: 10px;
    }   

    .navigation ul li {
        padding: 10px;
    }

    h1 {
        padding: 10px;
    }

}  */



        /*  het bolkjes lijst */

main ul{
    width: 100%;
    padding-top: 1.5em;
    padding-left: 11em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

main ul li{
    width: 23em;
    display: block;
    position: relative;
}

main ul li img{
    width: 22em;
    display: block;
    height: 15em;
    overflow: hidden;
    border-radius: .8em;
}

main ul li div{
    width: 18em;
    height: 21em;
    padding: 1em;
    background-color: var(--background-color);
    border-radius: .5em;
    position: relative;
    top: -5em;
    left: 2em;
}

    .Openbareorde-box{
        box-shadow: var(--openbare-orde) 0 2px 6px;
    }

    .Financien-box{
        box-shadow: var(--Financien) 0 2px 6px;
    }

    .Verkeer-box{
        box-shadow: var(--Verkeer) 0 2px 6px;
    }

main ul li a{
    text-decoration: none;
}

main ul li div a h3{
    color: #000000;
    margin-bottom: 1em;
    background-size: .9em;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

    .Openbareorde{
        background-image: url(images/icons/Openbareorde.icon.svg);
    }

    .Financien{
        background-image: url(images/icons/Financien-icon.svg);
    }

    .Verkeer{
        background-image: url(images/icons/Verkeer-icon.svg);
    }

main ul li div a h3::after{
    content: "";
    display: block;
    width: 100%;
    height: .05em;
    position: relative;
    bottom: -.2em;
    background-color: rgb(4, 5, 0);
}

main ul li div p{
    line-height: 1.5em;
}

main ul li>a{
    color: var(--hoofd-color);
    position: relative;
    bottom: 7em;
    left: 3em;
}

main ul li>a:hover{
    text-decoration: underline;
}

.chatbot{
    background-color: transparent;
    border: none;
    transform: scale(.6);
    transition: .5s;


    position: fixed;
    bottom: 1em;
    right: 1em;
    cursor: pointer;
}

    .chatbot:hover{
        transform: scale(.7);
    }

    .chatbot.open{
        transform: scale(.5);
    }
